body{
    display: flex;
    margin: 0;
    font-family: sans-serif;
    
}

.signup-side{
    background-color: red;
    flex: 1;
}

.signup{
    background-color: #f9fafb;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; 
    /*We need to put a height since this div's children won't grow without it*/
}

.formDescription{
    height: fit-content;
    padding-left: 5%;

}

.formContainer{
    background-color: white;
    height: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    box-shadow: 0px 3px 5px #e0e1e2;
}

.formContainer > *{
    flex: 1;
    width: 60%;
}

label{
    display: block;
}

#mainForm{
    display: flex;
    flex-direction: column;
    gap:20px; 
}

form > div[class^="form"] {
    display: flex;
    justify-content: space-between;
    
}

#formTitle{
    flex: 0;
}

.submitContainer{
    margin-top: 3em; /*This is a very ugly hack but as of now, I do not know how to connect the submit button and the form, when the submit button is in a different tag, which would make things easier*/
}

h2{
    font-size: 20px;
}

.submitButton{
    font-weight: bold;
    background-color: #596d48;
    color: white;
    border: 0px;
    padding: 10px;
    border-radius: 5px;
}

label{
    font-size: 12px; 
    font-weight: bold;
}

a{
    color: #596d48;
}

a:visited{
    color: #596d48;
}

a:hover{
    color:#596d48
}

input{
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 14px;
}   
